<select name="direction_list">
  <option value="odpt.RailDirection:TokyoMetro.ShinKiba" class="fukutoshin">新木場方面</option>
  <option value="odpt.RailDirection:TokyoMetro.Wakoshi" class="fukutoshin">和光市方面</option>
</select>
