<select name="direction_list">

<option selected="selected" class="msg">▼--方面選択--▼</option>
<option>--銀座線--</option>
<option value="odpt.RailDirection:TokyoMetro.Asakusa" class="ginza">浅草方面</option>
<option value="odpt.RailDirection:TokyoMetro.Shibuya" class="ginza">渋谷方面</option>
<option>--丸ノ内線--</option>
<option value="odpt.RailDirection:TokyoMetro.Ikebukuro" class="marunouchi">池袋方面</option>
<option value="odpt.RailDirection:TokyoMetro.Ogikubo" class="marunouchi">荻窪方面</option>
<option>--丸ノ内線（支線）--</option>>
<option value="odpt.RailDirection:TokyoMetro.Honancho" class="marunouchibranch">方南町方面</option>
<option value="odpt.RailDirection:TokyoMetro.Nakanosakaue" class="marunouchibranch">中野坂上方面</option>
<option>--日比谷線--</option>
<option value="odpt.RailDirection:TokyoMetro.Nakameguro" class="hibiya">中目黒方面</option>
<option value="odpt.RailDirection:TokyoMetro.Kitasenju" class="hibiya">北千住方面</option>
<option>--東西線--</option>>
<option value="odpt.RailDirection:TokyoMetro.Nakano" class="tozai">中野方面</option>
<option value="odpt.RailDirection:TokyoMetro.NishiFunabashi" class="tozai">西船橋方面</option>
<option>--千代田線--</option>
<option value="odpt.RailDirection:TokyoMetro.YoyogiUehara" class="chiyoda">代々木上原方面</option>
<option value="odpt.RailDirection:TokyoMetro.Ayase" class="chiyoda">綾瀬方面</option>
<option>--千代田線（支線）--</option>
<option value="odpt.RailDirection:TokyoMetro.KitaAyase" class="chiyodabranch">北綾瀬方面</option>
<option value="odpt.RailDirection:TokyoMetro.Ayase" class="chiyodabranch">綾瀬方面</option>
<option>--有楽町線--</option>
<option value="odpt.RailDirection:TokyoMetro.ShinKiba" class="yurakucho">新木場方面</option>
<option value="odpt.RailDirection:TokyoMetro.Wakoshi" class="yurakucho">和光市方面</option>
<option>--半蔵門線--</option>
<option value="odpt.RailDirection:TokyoMetro.Shibuya" class="hanzomon">渋谷方面</option>
<option value="odpt.RailDirection:TokyoMetro.Oshiage" class="hanzomon">押上方面</option>
<option>--南北線--></option>
<option value="odpt.RailDirection:TokyoMetro.Meguro" class="namboku">目黒方面</option>
<option value="odpt.RailDirection:TokyoMetro.AkabaneIwabuchi" class="namboku">赤羽岩淵方面</option>
<option>--副都心線--</option>
<option value="odpt.RailDirection:TokyoMetro.Shibuya" class="fukutoshin">渋谷方面</option>
<option value="odpt.RailDirection:TokyoMetro.Wakoshi" class="fukutoshin">和光市方面</option>

</select>
