<select>
  <option selected="selected" class="msg">▼--路線選択--▼</option>
  <option value="odpt.Station:TokyoMetro.Ginza" class="ginza">銀座線</option>
  <option value="odpt.Station:TokyoMetro.Marunouchi" class="marunouchi">丸ノ内線（荻窪〜池袋）</option>
  <option value="odpt.Station:TokyoMetro.Marunouchi" class="marunouchibranch">丸ノ内線（方南町〜中野坂上）</option>
  <option value="odpt.Station:TokyoMetro.Hibiya" class="hibiya">日比谷線</option>
  <option value="odpt.Station:TokyoMetro.Tozai"  class="tozai">東西線</option>
  <option value="odpt.Station:TokyoMetro.Chiyoda" class="chiyoda">千代田線（代々木上原〜綾瀬）</option>
  <option value=value="odpt.Station:TokyoMetro.Chiyoda" class="chiyodabranch">千代田線（綾瀬〜北綾瀬）</option>
  <option value="odpt.Station:TokyoMetro.Yurakucho" class="yurakucho">有楽町線</option>
  <option value="odpt.Station:TokyoMetro.Hanzomon" class="hanzomon">半蔵門線</option>
  <option value="odpt.Station:TokyoMetro.Namboku" class="namboku">南北線</option>
  <option value="odpt.Station:TokyoMetro.Fukutoshin" class="fukutoshin">副都心線</option>
</select>