<% provide(:title,"時刻表検索") %>

<h2>時刻表検索</h2>

<%= form_tag("/",method:"get") do %>
<button type="submit" class="btn btn-secondary btn-sm">現在の《運行状況》を確認</button>
<% end %>


<%= render('timetables/label') %>

<%= render('timetables/search') %>

<%= render('timetables/table') %>