<h1>東京メトロ運転状況</h1>
<p>東京メトロが提供しているオープンデータから、Ruby on Railsを用いて運行状況を抽出しています。</p>
<p>最新の運行状況は、東京メトロ公式ホームページよりご確認ください。</p>
<br>
<p>更新日：2017/07/20（現在制作途中）</p>
<br>
<p>情報取得時刻：<%= Time.now %></p>



<table>
<thead>
<th>路線</th><th>運行状況</th>
</thead>

<% @result.each do |result| %>
<tr><td><%= result["odpt:railway"] %></td><td><%= result["odpt:trainInformationText"] %></td></tr>
<% end %>



</table>

<br>

