/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: 'Oswald', sans-serif;
}

#yield{
  padding-top: 30px;
  padding-bottom: 30px;
}

/*PC*/

@media screen and (min-width:961px){

  header{
  background-color: #111111;
  color:white;
  position: fixed;
  z-index:2;
  top:0;
  left:0;
  right: 0;
  font-size: 10px;
  padding-left: 10px;
}

#notice{
  font-size:18px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
  margin: 2px;
  padding: 15px;
  max-width: 800px;
  width:800px;
}

footer{
  position: fixed;
  bottom: 0px;
  left:0px;
  right: 0px;
  height: 20px;
  background-color: #444444;
  z-index: 2;
}

footer p{
  font-size: 10px;
  color: white;
  position: relative;
  top:-8px;
  left: 5px;
}

img{
  width:25px;
  margin-left: 5px;
  margin-right: 10px;
  position: relative;
  top:2.5px;
}

.container{
  margin-top: 20px;
}

.container span{
  font-size:25px;
  font-weight:bolder;
}

#container-ginza,#container-marunouchi,#container-hibiya,#container-tozai,#container-chiyoda,#container-yurakucho,#container-hanzomon,#container-namboku,#container-fukutoshin{
  box-shadow: 0px 0px 1px #444444;
  max-width: 820px;
  width:820px;
  padding: 5px;
  margin-bottom: 10px;
}

.container p{
  margin-left:10px;
  font-size: 20px;
}

button{
  display:none;
}

#attention p{
  padding-bottom: 20px;
}

}


/*tablet*/

@media screen and (min-width:461px) and (max-width:960px){

  header{
  background-color: #111111;
  color:white;
  position: fixed;
  z-index:2;
  top:0;
  left:0;
  right: 0;
  font-size: 10px;
  padding-left: 10px;
}

#notice{
  font-size:15px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
  margin: 2px;
  padding: 5px;
  max-width: 500px;
  width:500px;
}

footer{
  position: fixed;
  bottom: 0px;
  left:0px;
  right: 0px;
  height: 20px;
  background-color: #444444;
  z-index: 2;
}

footer p{
  font-size: 10px;
  color: white;
  position: relative;
  top:-8px;
  left: 5px;
}

img{
  width:20px;
  margin-left: 5px;
  margin-right: 10px;
  position: relative;
  top:2.5px;
}

.container{
  margin-top: 20px;
}

.container span{
  font-size:20px;
  font-weight:bolder;
}

#container-ginza,#container-marunouchi,#container-hibiya,#container-tozai,#container-chiyoda,#container-yurakucho,#container-hanzomon,#container-namboku,#container-fukutoshin{
  box-shadow: 0px 0px 1px #444444;
  max-width: 500px;
  width:500px;
  padding: 5px;
  margin-bottom: 10px;
}

.container p{
  margin-left:10px;
}

button{
  display:none;
}

#attention p{
  padding-bottom: 20px;
}

}


/*smartphone*/

@media screen and (max-width:460px){

img{
  width:20px;
  margin-left: 5px;
  margin-right: 10px;
  position: relative;
  top:2.5px;
}

span{
  font-weight: bolder;
}

header{
  background-color: #111111;
  color:white;
  position: fixed;
  z-index:2;
  top:0;
  left:0;
  right: 0;
  font-size: 10px;
  padding-left: 10px;
}

#notice-btn{
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: white;
  border:none;
  box-shadow: 0px 0px 1px #444444;
}

#notice{
  display: none;
  font-size:12px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
  margin: 2px;
  max-width: 390px;
  width:400px;
  padding: 5px 5px 5px 10px;
}

.container{
  margin-top: 15px;
  margin-bottom: 20px;
}

/*銀座線*/
#container-ginza{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#ginza-header{
  font-size: 20px;
}

#ginza-info{
  margin-left: 20px
}

#open-btn-ginza{
  float: right;
}


#open-btn-ginza{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#ginza-footer{
  padding-left:5px;
  display: none;
}

/*丸ノ内線*/

#container-marunouchi{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#marunouchi-header{
  font-size: 20px;
}

#marunouchi-info{
  margin-left: 20px
}

#open-btn-marunouchi{
  float: right;
}


#open-btn-marunouchi{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#marunouchi-footer{
  padding-left:5px;
  display: none;
}

/*日比谷線*/

#container-hibiya{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#hibiya-header{
  font-size: 20px;
}

#hibiya-info{
  margin-left: 20px
}

#open-btn-hibiya{
  float: right;
}


#open-btn-hibiya{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#hibiya-footer{
  padding-left:5px;
  display: none;
}


/*東西線*/

#container-tozai{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#tozai-header{
  font-size: 20px;
}

#tozai-info{
  margin-left: 20px
}

#open-btn-tozai{
  float: right;
}


#open-btn-tozai{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#tozai-footer{
  padding-left:5px;
  display: none;
}


/*千代田線*/

#container-chiyoda{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#chiyoda-header{
  font-size: 20px;
}

#chiyoda-info{
  margin-left: 20px
}

#open-btn-chiyoda{
  float: right;
}


#open-btn-chiyoda{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#chiyoda-footer{
  padding-left:5px;
  display: none;
}


/*有楽町線*/

#container-yurakucho{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#yurakucho-header{
  font-size: 20px;
}

#yurakucho-info{
  margin-left: 20px
}

#open-btn-yurakucho{
  float: right;
}


#open-btn-yurakucho{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#yurakucho-footer{
  padding-left:5px;
  display: none;
}

/*半蔵門線*/

#container-hanzomon{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#hanzomon-header{
  font-size: 20px;
}

#hanzomon-info{
  margin-left: 20px
}

#open-btn-hanzomon{
  float: right;
}


#open-btn-hanzomon{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#hanzomon-footer{
  padding-left:5px;
  display: none;
}

/*南北線*/

#container-namboku{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#namboku-header{
  font-size: 20px;
}

#namboku-info{
  margin-left: 20px
}

#open-btn-namboku{
  float: right;
}


#open-btn-namboku{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#namboku-footer{
  padding-left:5px;
  display: none;
}

/*副都心線*/

#container-fukutoshin{
  padding: 3px;
  max-width:400px;
  width:400px;
  box-shadow: 0px 0px 3px #444444;
  margin-bottom: 10px;
}

#fukutoshin-header{
  font-size: 20px;
}

#fukutoshin-info{
  margin-left: 20px
}

#open-btn-fukutoshin{
  float: right;
}


#open-btn-fukutoshin{
  font-size: 20px;
  font-weight: border;
  background-color: white;
  border:none;
}

#fukutoshin-footer{
  padding-left:5px;
  display: none;
}


/*注意情報*/

#attention p{
  font-size:10px;
}

footer{
  position: fixed;
  bottom: 0px;
  left:0px;
  right: 0px;
  height: 20px;
  background-color: #444444;
  z-index: 2;
}

footer p{
  font-size: 10px;
  color: white;
  position: relative;
  top:-8px;
  left: 5px;
}

}

