@import "bootstrap";
@import "variation";


@mixin box($color){

background-color:white;
box-shadow:1px 1px 2px gray;
border-bottom:$color 2px solid;

img{
  width:20px;
  height:20px;
  position:absolute;
  top:11px;
}

h3{
  margin-top:10px;
  margin-left:30px;
  font-size:20px;
  font-weight:bolder;

}


}

body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color:lighten(#EEEEEE,5%);
}

header{
  position:fixed;
  top:0;
  left:0;
  color:white;
  width:100%;
  z-index:10;
  background-color:black;
  padding-left:10px;
}

#yield{
  margin-top:50px;
  margin-bottom:50px;
  padding:50px;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  z-index:10;
  width:100%;
  background-color:gray;
  padding-left:10px;
}

h2{
  font-size:30px;
  font-weight:bolder;
}

.info{
}


@each $line,$color in $line_colors{
  .#{$line} {
    @include box($color);
  }
}


@media screen and (max-width:544px){

  #yield{
    margin-top:20px;
  }

  header {
    h1 {
      font-size:20px;
      margin-top:10px;
    }
  }

  .info{
     margin-bottom:10px;
  }
}

@media screen and (min-width:545px) and (max-width:768px){
  header{
    h1{
      font-size:20px;
      margin-top:10px;
    }
  }

  #yield{
    margin-top:20px;
  }

  .info{
    height:auto;
    min-height:200px;
  }

  .row{
    margin-bottom:20px;
  }
}

@media screen and (min-width:769px){
  .info{
    min-height:300px;
  }

  .row{
    margin-bottom:20px;
  }

  .container{
    margin-top:40px;
  }
}