<header>
<h1>東京メトロ運転状況 by TokyoMetro API & Ruby on Rails</h1>
<p>東京メトロが提供しているオープンデータから、Ruby on Railsを用いて運行状況を抽出しています。</p>
<p>最新の運行状況は、東京メトロ公式ホームページよりご確認ください。</p>
<br>
<p>更新日：2017/07/20（現在制作途中）</p>
<br>
</header>